Repository twosigma/waiter, pull requests merged in 2018-05, with the labels that each got.

#304 removes use of http-method-fn in favor of simpler method parameter
  waiter/integration/waiter/async_request_integration_test.clj
  waiter/integration/waiter/basic_test.clj
  waiter/integration/waiter/request_method_test.clj
  waiter/integration/waiter/request_timeout_test.clj
  waiter/integration/waiter/token_request_test.clj
  waiter/integration/waiter/websocket_integration_test.clj
  waiter/src/waiter/util/client_tools.clj
Labels: refactoring

#308 Rename waiter.mesos.utils to waiter.utils.http-utils
  waiter/src/waiter/mesos/marathon.clj
  waiter/src/waiter/mesos/mesos.clj
  waiter/src/waiter/scheduler/marathon.clj
  waiter/src/waiter/util/http_utils.clj
  waiter/test/waiter/mesos/marathon_test.clj
  waiter/test/waiter/mesos/mesos_test.clj
  waiter/test/waiter/util/http_utils_test.clj
Labels: refactoring

#313 removes unused syncmbols and imports
  waiter/src/waiter/cookie_support.clj
  waiter/src/waiter/core.clj
  waiter/src/waiter/interstitial.clj
Labels: refactoring

#316 displays count of running tests
  waiter/test/waiter/test_helpers.clj
Labels: test

#303 Pass through special characters in query strings to the backend
  kitchen/src/kitchen/core.clj
  kitchen/test/kitchen/core_test.clj
  waiter/integration/waiter/basic_test.clj
  waiter/src/waiter/async_request.clj
  waiter/src/waiter/core.clj
  waiter/src/waiter/handler.clj
  waiter/src/waiter/process_request.clj
  waiter/src/waiter/util/client_tools.clj
  waiter/test/waiter/async_request_test.clj
  waiter/test/waiter/process_request_test.clj
Labels: bug

#320 deflakes test-delete-service and test-killed-instances
  waiter/integration/waiter/basic_test.clj
Labels: flaky-test

#321 deflakes test-instance-reservation
  waiter/integration/waiter/instance_reservation_test.clj
Labels: flaky-test

#319 deflakes test-request-parallel-streaming
  kitchen/src/kitchen/core.clj
  kitchen/test/kitchen/core_test.clj
  waiter/integration/waiter/streaming_test.clj
  waiter/integration/waiter/websocket_integration_test.clj
  waiter/src/waiter/websocket.clj
  waiter/test/waiter/websocket_test.clj
Labels: flaky-test

#326 removes streaming-timeout integration tests and adds unit tests
  waiter/integration/waiter/streaming_test.clj
  waiter/src/waiter/process_request.clj
  waiter/test/waiter/process_request_test.clj
Labels: flaky-test

#329 reformats descriptor.clj
  waiter/src/waiter/descriptor.clj
Labels: refactoring

#330 refactors waiter-consent handlers to use token->service-description-template and token->token-metadata
  waiter/src/waiter/core.clj
  waiter/src/waiter/handler.clj
  waiter/test/waiter/handler_test.clj
Labels: refactoring

#324 deflakes test-scale-factor, test-concurrency-level and test-expired-instance
  waiter/integration/waiter/autoscaling_test.clj
  waiter/src/waiter/util/client_tools.clj
Labels: flaky-test

#336 Minor refactorings to improve readability
  waiter/src/waiter/service_description.clj
Labels: refactoring

#325 deflakes test-simple-async-request and test-multiple-async-requests
  waiter/integration/waiter/async_request_integration_test.clj
  waiter/src/waiter/process_request.clj
  waiter/test/waiter/process_request_test.clj
Labels: flaky-test

#323 deflakes test-request-queue-timeout-max-instances-limit
  waiter/integration/waiter/request_timeout_test.clj
Labels: flaky-test

#322 deflakes test-blacklisted-instance-not-reserved
  waiter/integration/waiter/killed_instance_test.clj
  waiter/src/waiter/state.clj
Labels: flaky-test
