Repository twosigma/waiter, pull requests merged in 2018-07, with the labels that each got.

#375 formats simulator html
  waiter/resources/web/sim.html
Labels: refactoring

#377 Integration test fixes
  waiter/integration/waiter/request_timeout_test.clj
  waiter/integration/waiter/websocket_integration_test.clj
Labels: bug, test

#385 Integration heavy/lite lein test selectors
  waiter/integration/waiter/autoscaling_test.clj
  waiter/integration/waiter/basic_test.clj
  waiter/integration/waiter/killed_instance_test.clj
  waiter/integration/waiter/metrics_output_test.clj
  waiter/integration/waiter/new_app_test.clj
  waiter/integration/waiter/work_stealing_integration_test.clj
  waiter/project.clj
Labels: test

#386 Add exfiltrated content encoding tests
  waiter/integration/waiter/content_encoding_test.clj
Labels: test

#383 added flagging for services with a failed oom instance
  kitchen/bin/kitchen
  waiter/integration/waiter/instability_test.clj
  waiter/src/waiter/state.clj
  waiter/test/waiter/state_test.clj
Labels: wip

#392 Deflake test-grace-period-with-tokens
  waiter/integration/waiter/request_timeout_test.clj
Labels: flaky-test
