Repository twosigma/waiter, pull requests merged in 2019-04, with the labels that each got.

#660 Removes jq from CLI test script
  cli/bin/ci/run-integration-tests.sh
Labels: cli, test

#661 Waits for test service to be present on all routers
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/util.py
Labels: cli, test

#665 avoids race in kitchen starting up before nginx proxy
  waiter/integration/waiter/basic_test.clj
Labels: flaky-test

#667 Adds --timeout flag to waiter ping
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/util.py
  cli/waiter/http_util.py
  cli/waiter/subcommands/ping.py
  cli/waiter/util.py
Labels: cli, enhancement

#671 reduces output generated when assertion fails
  waiter/integration/waiter/streaming_test.clj
Labels: flaky-test

#672 Fixes test_ping_timeout command
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/util.py
Labels: cli, test, wip

#664 Adds kill sub-command to the CLI
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/test_cli_multi_cluster.py
  cli/integration/tests/waiter/util.py
  cli/waiter/cli.py
  cli/waiter/http_util.py
  cli/waiter/querying.py
  cli/waiter/subcommands/create.py
  cli/waiter/subcommands/delete.py
  cli/waiter/subcommands/kill.py
  cli/waiter/terminal.py
  cli/waiter/util.py
Labels: cli, enhancement

#675 Makes kill_service wait for all routers to sync
  cli/integration/tests/waiter/util.py
Labels: cli, test

#674 Adds ping --service-id to CLI
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/test_cli_multi_cluster.py
  cli/waiter/querying.py
  cli/waiter/subcommands/ping.py
Labels: cli

#677 Adds support for token JSON file on create/update
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/waiter/configuration.py
  cli/waiter/token_post.py
  cli/waiter/util.py
Labels: cli, enhancement

#682 Makes update happen in cluster where token exists
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/test_cli_multi_cluster.py
  cli/waiter/token_post.py
Labels: bug, cli

#680 Adds init sub-command to the CLI
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/waiter/cli.py
  cli/waiter/subcommands/init.py
  cli/waiter/token_post.py
Labels: cli, enhancement

#683 Skips ping on non-"home" clusters
  cli/.waiter.json
  cli/bin/ci/run-integration-tests.sh
  cli/integration/tests/waiter/test_cli_multi_cluster.py
  cli/waiter/subcommands/ping.py
  waiter/bin/run-using-shell-scheduler.sh
  waiter/config-shell.edn
  waiter/test/waiter/settings_test.clj
Labels: cli

#685 Shows run-as-user in kill prompt
  cli/integration/tests/waiter/test_cli_multi_cluster.py
  cli/waiter/subcommands/kill.py
Labels: cli, enhancement

#686 Removes 'force' from token JSON file
  cli/integration/tests/waiter/test_cli.py
  cli/waiter/subcommands/init.py
Labels: cli, flaky-test, test

#689 Makes several CLI tests more reliable
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/util.py
Labels: cli, flaky-test, test

#693 Adds services using token to show sub-command
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/util.py
  cli/waiter/format.py
  cli/waiter/querying.py
  cli/waiter/subcommands/kill.py
  cli/waiter/subcommands/show.py
  cli/waiter/terminal.py
Labels: cli, enhancement

#695 Bumps CLI version for 0.1.0 release
  cli/waiter/version.py
Labels: cli

#701 Makes test_show_services_using_token more reliable
  cli/integration/tests/waiter/test_cli.py
Labels: cli, flaky-test, test

#706 Prevents merging PRs that are not ready
  .github/mergeable.yml
Labels: ci, internal-green, test

#704 Adds tokens sub-command to the CLI
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/test_cli_multi_cluster.py
  cli/waiter/cli.py
  cli/waiter/querying.py
  cli/waiter/subcommands/tokens.py
Labels: cli, enhancement

#707 convert root-regex to regular expression before creating the component
  waiter/integration/waiter/token_request_test.clj
Labels: internal-green

#711 Marks test-request-instance-death as explicit
  waiter/integration/waiter/websocket_integration_test.clj
Labels: ci, flaky-test, test

#708 avoids clearing TE headers while sending requests to the backend
  waiter/src/waiter/headers.clj
  waiter/src/waiter/process_request.clj
  waiter/src/waiter/websocket.clj
  waiter/test/waiter/headers_test.clj
  waiter/test/waiter/process_request_test.clj
Labels: internal-green

#705 Restructure apps and scripts for docker image builds
  .travis.yml
  README.md
  cli/bin/ci/run-integration-tests.sh
  cli/integration/tests/waiter/util.py
  containers/README.md
  containers/bin/build-docker-images.sh
  containers/custom-env/Dockerfile
  containers/custom-env/README.md
  containers/custom-env/bin/build-docker-image.sh
  containers/fileserver/Dockerfile
  containers/fileserver/README.md
  containers/fileserver/bin/build-docker-image.sh
  containers/fileserver/fileserver-start
  containers/fileserver/nginx.conf
  containers/test-apps/Dockerfile
  containers/test-apps/README.md
  containers/test-apps/bin/build-docker-image.sh
  containers/test-apps/bin/ci/run.sh
  containers/test-apps/bin/ci/setup.sh
  containers/test-apps/kitchen/.gitignore
  containers/test-apps/kitchen/README.md
  containers/test-apps/kitchen/bin/ci/run.sh
  containers/test-apps/kitchen/bin/ci/setup.sh
  containers/test-apps/kitchen/bin/ci/ssl-env.sh
  containers/test-apps/kitchen/bin/kitchen
  containers/test-apps/kitchen/requirements_test.txt
  containers/test-apps/kitchen/setup.cfg
  containers/test-apps/kitchen/tests/__init__.py
  containers/test-apps/kitchen/tests/kitchen/__init__.py
  containers/test-apps/kitchen/tests/kitchen/conftest.py
  containers/test-apps/kitchen/tests/kitchen/test_basic_http.py
  containers/test-apps/kitchen/tests/kitchen/util.py
  containers/test-apps/nginx/README.md
  containers/test-apps/nginx/bin/run-nginx-server.sh
  containers/test-apps/nginx/data/nginx-template.conf
  containers/test-apps/sediment/.gitignore
  containers/test-apps/sediment/README.md
  containers/test-apps/sediment/bin/run-sediment-server.sh
  containers/test-apps/sediment/pom.xml
  containers/test-apps/sediment/src/main/java/com/twosigma/waiter/sediment/HttpServer.java
  containers/test-apps/sediment/src/main/java/com/twosigma/waiter/sediment/RequestInfo.java
  containers/test-apps/sediment/src/main/java/com/twosigma/waiter/sediment/Servlet.java
  containers/test-apps/sediment/src/test/java/com/twosigma/waiter/sediment/ServletTest.java
  containers/test-apps/waiter-init/.gitignore
  containers/test-apps/waiter-init/bin/ci/run.sh
  containers/test-apps/waiter-init/bin/test-waiter-init
  containers/test-apps/waiter-init/bin/waiter-init
  test-apps/bin/build-docker-image.sh
  test-apps/bin/push-docker-image.sh
  token-syncer/bin/ci/run-integration-tests.sh
  waiter/bin/ci/run-integration-tests-composite-scheduler.sh
  waiter/bin/ci/run-integration-tests-k8s-scheduler.sh
  waiter/bin/ci/run-integration-tests-marathon-scheduler.sh
  waiter/bin/ci/run-integration-tests-shell-scheduler.sh
  waiter/bin/ci/run-integration-tests.sh
  waiter/project.clj
  waiter/src/waiter/settings.clj
Labels: internal-green

#710 adds match->cluster to further limit the values produced by a regex-cluster-calculator
  waiter/config-full.edn
  waiter/integration/waiter/token_request_test.clj
  waiter/src/waiter/settings.clj
  waiter/src/waiter/token.clj
  waiter/test/waiter/token_test.clj
Labels: internal-green

#699 cleanup of trailers integration tests and sediment app
  containers/test-apps/sediment/src/main/java/com/twosigma/waiter/sediment/Servlet.java
  waiter/integration/waiter/basic_test.clj
  waiter/integration/waiter/trailers_test.clj
Labels: internal-green, refactoring

#713 Runs tests with tight token-update loops serially
  cli/bin/ci/run-integration-tests.sh
  cli/integration/tests/waiter/test_cli.py
Labels: cli, flaky-test, internal-green, test

#715 Allows specifying token name in token json
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/waiter/token_post.py
Labels: cli, enhancement, internal-green

#714 Adds more fields to waiter init json
  cli/integration/tests/waiter/test_cli.py
  cli/waiter/subcommands/init.py
Labels: cli, enhancement, internal-green

#712 updates jet version for improved trailers support
  token-syncer/project.clj
  waiter/project.clj
Labels: internal-green

#709 CLI version 0.2.0
  cli/waiter/version.py
Labels: cli, internal-green

#716 restricts variations in test metric groups
  waiter/integration/waiter/basic_test.clj
  waiter/integration/waiter/statsd_support_test.clj
  waiter/integration/waiter/token_request_test.clj
  waiter/integration/waiter/websocket_integration_test.clj
  waiter/src/waiter/util/client_tools.clj
Labels: internal-green

#718 Decouple k8s namespace from run-as-user
  waiter/src/waiter/scheduler/kubernetes.clj
  waiter/test/waiter/scheduler/kubernetes_test.clj
Labels: internal-green, refactoring
