Repository twosigma/waiter, pull requests merged in 2019-03, with the labels that each got.

#607 addresses flakiness in test-request-parallel-streaming
  waiter/integration/waiter/websocket_integration_test.clj
Labels: flaky-test

#569 Introduces Waiter CLI
  .travis.yml
  cli/.gitignore
  cli/.waiter.json
  cli/README.md
  cli/bin/ci/run-integration-tests.sh
  cli/bin/ci/setup.sh
  cli/integration/bin/only-run
  cli/integration/requirements.txt
  cli/integration/tests/__init__.py
  cli/integration/tests/waiter/__init__.py
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/util.py
  cli/setup.py
  cli/waiter/__main__.py
  cli/waiter/cli.py
  cli/waiter/configuration.py
  cli/waiter/format.py
  cli/waiter/http.py
  cli/waiter/metrics.py
  cli/waiter/querying.py
  cli/waiter/subcommands/__init__.py
  cli/waiter/subcommands/create.py
  cli/waiter/subcommands/show.py
  cli/waiter/terminal.py
  cli/waiter/util.py
  cli/waiter/version.py
Labels: cli

#615 updates ubuntu image to 16.04 for mesos master and agents
  .travis.yml
  cli/bin/ci/setup.sh
  kitchen/Dockerfile
  waiter/bin/ci/upload-logs.sh
  waiter/minimesosFile
Labels: ci

#617 deflake test-reserve-ports!
  waiter/test/waiter/reporters_test.clj
  waiter/test/waiter/scheduler/shell_test.clj
Labels: flaky-test

#618 marks test-request-parallel-streaming as flaky
  waiter/integration/waiter/websocket_integration_test.clj
Labels: flaky-test

#623 introduces test-apps directory
  .travis.yml
  kitchen/bin/build-docker-image.sh
  test-apps/Dockerfile
  test-apps/README.md
  test-apps/bin/build-docker-image.sh
  test-apps/kitchen/.gitignore
  test-apps/kitchen/README.md
  test-apps/kitchen/bin/ci/run.sh
  test-apps/kitchen/bin/ci/setup.sh
  test-apps/kitchen/bin/ci/ssl-env.sh
  test-apps/kitchen/bin/kitchen
  test-apps/kitchen/bin/test-waiter-init
  test-apps/kitchen/bin/waiter-init
  test-apps/kitchen/requirements_test.txt
  test-apps/kitchen/setup.cfg
  test-apps/kitchen/tests/__init__.py
  test-apps/kitchen/tests/kitchen/__init__.py
  test-apps/kitchen/tests/kitchen/conftest.py
  test-apps/kitchen/tests/kitchen/test_basic_http.py
  test-apps/kitchen/tests/kitchen/util.py
  test-apps/nginx/README.md
  test-apps/nginx/bin/run-nginx-server.sh
  test-apps/nginx/data/nginx-template.conf
  token-syncer/bin/ci/run-integration-tests.sh
  waiter/bin/ci/run-integration-tests-composite-scheduler.sh
  waiter/bin/ci/run-integration-tests-k8s-scheduler.sh
  waiter/bin/ci/run-integration-tests-marathon-scheduler.sh
  waiter/bin/ci/run-integration-tests-shell-scheduler.sh
  waiter/project.clj
  waiter/src/waiter/settings.clj
  waiter/src/waiter/util/client_tools.clj
  waiter/test-files/shell-scheduler-backup.json
  waiter/test/waiter/scheduler/shell_test.clj
Labels: test

#622 Writes a base config that can be used by the CLI integration tests
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/util.py
Labels: cli, test

#626 deflakes test-valid-fallback-service-resolution
  waiter/integration/waiter/token_request_test.clj
Labels: flaky-test

#629 Renames http -> http_util
  cli/.gitignore
  cli/bin/ci/setup.sh
  cli/waiter/cli.py
  cli/waiter/http_util.py
  cli/waiter/querying.py
  cli/waiter/subcommands/create.py
Labels: cli

#627 Adds update alias to CLI
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/waiter/cli.py
  cli/waiter/subcommands/create.py
Labels: cli, enhancement

#631 Adds pytest setup.cfg for CLI tests
  cli/integration/setup.cfg
Labels: cli

#634 simplifies assertions in test-basic-health-check-port-index
  waiter/integration/waiter/basic_test.clj
Labels: flaky-test

#635 avoids NPE due to missing status in work-stealing response
  waiter/src/waiter/work_stealing.clj
Labels: bug

#633 Avoids exit due to single cluster out of multiple
  cli/integration/tests/waiter/test_cli.py
  cli/waiter/http_util.py
  cli/waiter/querying.py
  cli/waiter/subcommands/show.py
Labels: cli

#630 Adds support for a 'central' .waiter.json
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/waiter/configuration.py
Labels: cli

#637 allows new instance knowledge to be synced across clusters
  waiter/integration/waiter/token_request_test.clj
Labels: flaky-test

#636 Adds 'CLI' to default test command env variable
  cli/bin/ci/run-integration-tests.sh
  cli/integration/tests/waiter/util.py
Labels: cli, test

#642 Fixes env display in waiter show
  cli/integration/tests/waiter/test_cli.py
  cli/waiter/subcommands/show.py
Labels: bug, cli

#644 converts the x-forwarded-proto to a keyword in request->scheme
  waiter/src/waiter/util/utils.clj
  waiter/test/waiter/util/utils_test.clj
Labels: bug

#650 Improves display of a fiew fields in waiter show
  cli/integration/tests/waiter/test_cli.py
  cli/waiter/format.py
  cli/waiter/subcommands/show.py
Labels: cli, enhancement

#649 Adds multi-cluster test support
  cli/bin/ci/run-integration-tests.sh
  cli/integration/tests/waiter/test_cli_multi_cluster.py
  cli/integration/tests/waiter/util.py
Labels: cli, test

#643 Adds delete sub-command to the CLI
  cli/bin/ci/run-integration-tests.sh
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/test_cli_multi_cluster.py
  cli/integration/tests/waiter/util.py
  cli/waiter/cli.py
  cli/waiter/http_util.py
  cli/waiter/querying.py
  cli/waiter/subcommands/create.py
  cli/waiter/subcommands/delete.py
  cli/waiter/subcommands/show.py
  cli/waiter/util.py
Labels: cli

#654 Adds ping sub-command to the CLI
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/integration/tests/waiter/test_cli_multi_cluster.py
  cli/waiter/cli.py
  cli/waiter/http_util.py
  cli/waiter/subcommands/ping.py
  cli/waiter/terminal.py
Labels: cli, enhancement

#655 Enables implicit update flags
  cli/integration/tests/waiter/cli.py
  cli/integration/tests/waiter/test_cli.py
  cli/waiter/cli.py
Labels: cli

#657 Makes test_ping_error more reliable
  cli/integration/tests/waiter/test_cli.py
Labels: cli, test, wip

#656 Makes small UX improvements to show, create
  cli/integration/tests/waiter/test_cli.py
  cli/waiter/format.py
  cli/waiter/subcommands/create.py
  cli/waiter/subcommands/show.py
Labels: cli, enhancement
